// Colores

$negro : #000;
$blanco: #fff;
$amarillo : #D6A426;
$gris: #2B2B2B;

// Media Querys
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;


// Fuentes
$fuentePrincipal: 'Merienda', cursive;

$delgada: 300;
$media: 400;
$gruesa: 700;   

// Separaciones

$separacion: 5rem;