
@media (min-width: 768px) {
    .d-grid-2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
  }

.b-2{
    box-shadow: 1rem 1rem 1rem #e1e1e1;
}

.centrar{
    margin: 0 auto;
}

.padding{
    padding: 2rem;
}